*,
*::after,
*::before
    {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #163152;
    background-color: #FDFDFF;
}

h1, h2, h3, p {
    margin: 0;
}

h2 {
    margin: 0;
    margin-bottom: 55px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under; 
}

/* Alternative underline 

h2 {
    position: relative;
    margin-top: 10px;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
}

h2::after {
    content: "";
    display: block;
    margin-top: 15px;
    width: 268px;
    border: 2px solid #00C6BD;
}
  */


h2.contact-title {
    margin-top: 0;
}

h3 {
    display: inline-block;
    font-weight: 700;
    line-height: 22px;
}

/* Header */

.header {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 55px;
    margin-bottom: 40px;
}

.header__logo {
    width: 64px;
    height: 68px;
    margin: 0;
    margin-right: auto;
}

.header__nav {
    display: flex;
    align-items: center;
}

.site-navigation {
    display: flex;
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 40px;
    list-style: none;
}

.site-navigation-item {
    padding: 6px 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 20px;
    transition: color .1s linear, background-color .1s linear, border .1s linear;
}

.site-navigation-item:last-child {
    margin-right: 0;
}

.site-navigation-item:hover {
    border: 1px solid #00C6BD;
}

.site-navigation-item a {
    text-decoration: none;
    color: #163152;
}

.header__signin {
    width: 36px;
    height: 36px;
    text-decoration: none;
    padding: 8px 9px;
    border: 1px solid #00C6BD;
    border-radius: 50%;
    color: #163152;
    transition: border .1s linear;
}

.header__signin:hover {
    border: 1px solid #163152;
}


/* Hero */

.hero {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto 120px;
}

.hero__title {
    padding-left: 70px;
    margin-bottom: 40px;
    font-size: 44px;
    font-style: italic;
    line-height: 60px;
    font-weight: 400;
    text-transform: uppercase;
}

.hero__main-img,
.article__img {
    max-width: 100%;
    height: auto;
}

/* Articles team and children */

.team,
.children {
    display: flex;
    justify-content: space-between;
    align-items: top;
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
}

.content-date {
    margin: 0;
    padding: 0;
}

time {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.team {
    margin-bottom: 100px;
}

.children {
    margin-bottom: 120px;
    flex-direction: row-reverse;
}

.team__title {
    text-align: left;
}

.children__title {
    text-align: right;
}

.children__content,
.team__content {
    width: 400px;
}

.children__content {
    text-align: right;
}


/* Gallery */
.gallery {
    max-width: 1170px;
    margin: 0 auto 120px;
}

.slider {
    display: flex;
    align-items: start;
}

.gallery__photo {
    width: 100%;
    height: 100%;
}

.gallery__photo_active {
    width: 970px;
    height: 690px;
    margin-right: 30px;
}

.gallery__preview_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 170px;
}

.gallery__preview_list li {
    margin: 0;
    padding: 0;
    width: 170px;
    height: 150px;
    margin-bottom: 30px;
}

.gallery__preview_list li:last-child {
    margin-bottom: 0;
}


  /* News */
.news {
    max-width: 770px;
    margin: 0 auto 120px;
}

.news h2 {
    margin: 0;
    margin-bottom: 55px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.post__img {
    max-width: 100%;
    margin: 0;
    margin-bottom: 33px;
}

.post__photo {
    max-width: 100%;
    height: auto;
    margin-bottom: 17px;
}

.post__img figcaption {
    font-size: 16px;
    line-height: 19px;
    color: #8693a4;
}

.post__title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 27px;
}

.post p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 12px;
}

.post p:nth-child(2) {
    margin-bottom: 24px;
}

.post__text {
    margin-bottom: 38px;
}

.post h4 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 15px;
}

.post ul {
    margin: 0;
    margin-bottom: 30px;
    padding-left: 18px;
    font-size: 18px;
    line-height: 26px;
}

.post li {
    margin-bottom: 8px;
}

.post ins {
    text-decoration: none;
}

.post blockquote {
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 30px;
    padding-left: 20px;
    border-left: 2px solid #00c6bd;
}

p.message__text {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 40px;
}

.post__footer {
    display: flex;
}

.post__author_img {
    margin-right: 15px;
}

.post__meta {
    margin-right: auto;
}

.post__meta a {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: #163152;
    text-decoration: none;
}

.post__meta time {
    font-size: 16px;
    line-height: 19px;
    color: #8693a4;
    }

/* Contacts */
.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1010px;
    margin: 0 215px 120px auto;
}

.contacts__map {
    width: 100%;
    height: auto;

}
.contacts__content {
    margin: auto;
    margin-left: 100px;
    margin-right: 0;
}

.contacts__list {
    margin: 0;
    padding: 0;
}

.contacts__item {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
}

.contacts__item h3 {
    font-size: 16px;
    margin-right: 10px;
}

.contacts__item p {
    line-height: 22px;
}

.contacts__item a {
    display: block;
    width: inherit;
    text-decoration: none;
    color: #163152;
}

.contacts__item.social {
    display: block;
}

.social__list {
    display: flex;
    list-style: none;
    margin-top: 15px;
    padding: 0;
}

.social__item {
    margin-right: 15px;
}    

.social__item:last-child {
    margin-right: 0;
}

.social__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #00C6BD;
    border-radius: 50%;
}

.social__item img {
    color: #163152;
}


/* Footer */
.footer {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(22, 49, 82, 0.1);
    padding: 60px 55px;
}

.footer__logo {
    margin-bottom: 30px;
}

.footer__copyright {
    width: 175px;
    margin-right: 125px;
    font-size: 10px;
    line-height: 12px;
}

.footer__confinfo {
    margin-bottom: 10px;
}

.footer__confinfo a{
    text-decoration: none;
    color: #163152;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__nav-chunk {
    width: 165px;
    margin-right: 70px;
}

.footer__nav-chunk:last-child {
    margin-right: 0;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__nav-chunk h2::after {
    display: none;
}

.footer__nav-chunk-title {
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    text-decoration: none;
    text-underline-offset: 0;
}

.footer__nav-item {
    margin-bottom: 2px;
}

.footer__nav-item:last-child {
    margin-bottom: 0;
}

.footer__nav-item a {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #163152;
}


/* Adaptive */

@media (max-width: 1025px) {

    .hero {
        align-items: center;
    }

    .gallery__photo_active {
        width: 100%;
        height: auto;
        margin-right: 20px;
    }

    .gallery__photo {
        width: 100%;
        height: auto;
    }

    .footer__nav-chunk {
        margin-right: 8px;
    }
}


@media (max-width: 990px) {

    .header {
        padding: 20px 35px;
    }

    .site-navigation-item {
        margin-right: 5px;
    }

    .team__content,
    .children__content {
        width: 400px;
        margin-right: auto;
        margin-left: auto;
    }

    .children__content {
        text-align: left;
    }

    .hero {
        align-items: center;
        margin-bottom: 100px;
    }

    .hero__title {
        font-size: 36px;
        line-height: 50px;
    }

    h2::after {
        margin-left: auto;
        margin-right: auto;
    }

    .team,
    .children {
        padding: 0 20px;
    }

    .team__content,
    .children__content {
        width: 40%;
    }

    .article__img {
        width: 60%;
    }

    .gallery__preview_list {
        width: 130px;
    }

    .gallery__preview_list li {
        width: 100%;
        height: 100px;
        margin-bottom: 11px;
    }

    .gallery__photo {
        width: 100%;
        height: auto;
    }

    .news {
        margin-bottom: 50px;
    }

    .contacts {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }

    .contacts__map {
        order: 2;
    }

    .contacts__content {
        order: 1;
        width: 100%;
        margin: 0 auto;
    }

    .contacts__title  {
        text-align: center;
    }

    .contacts__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        margin-bottom: 50px;
        padding: 0;
        text-align: center;
    }

    .contacts__item {
        justify-content: center;
    }

    .contacts__item h3 {
        margin-right: 0;
    }
    
    .footer{
        align-items: start;
        padding: 55px 35px;
    }

    .footer__copyright {
        width: 154px;
        margin-right: 50px;
    }

    .footer__nav-chunk {
        width: 130px;
    }
    
    .footer__nav-chunk:first-chil {
        width: 105px;
    }

    .footer__nav-chunk:nth-child(2) {
        width: 115px;
    }
}

@media (max-width: 770px) {
    .team,
    .children {
        display: block;
        padding: 0;
    }

    .team__content,
    .children__content {
        width: 100%;
        text-align: center;
    }

    .team__title,
    .children__title
    {
        text-align: center;
    }

    h2 {
        text-underline-offset: 5px;
        margin-bottom: 25px;
    }

    .content__text {
        margin-bottom: 25px;
    }


    .article__img {
        width: 100%;
    }

    .slider {
        flex-direction: column;
    }

    .gallery {
        margin-bottom: 80px;
    }

    .gallery__photo_active {
        margin-bottom: 20px;
    }

    .gallery__preview_list {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .gallery__preview_list li {
        height: auto;
        margin-right: 20px;
    }

    .gallery__preview_list li:last-child {
        margin-right: 0;
    }

    .post__title {
        width: 100%;
        margin-bottom: 20px;
    }

    .contacts {
        align-items: center;
        margin: 0 auto 60px;
        width: 100%;
    }

    .contacts__content {
        margin: 0 auto 20px;
    }

    .social__list {
        justify-content: center;
    }
}

@media (max-width: 565px) {
    body {
        font-size: 14px;
        line-height: 20px;
        padding: 0 10px;
    }

    .header {
        padding: 15px 20px;
    }

    .header__logo {
        width: 44px;
        height: 50px;
    }

    .header__logo img{
        width: 44px;
        height: 48px;
    }

    .site-navigation {
        display: none;
        flex-wrap: wrap;
        justify-content: center;
    }

    .site-navigation-item {
        font-size: 12px;
        padding: 4px 8px;
        margin: 5px;
    }

    .header__signin {
        width: 30px;
        height: 30px;
        padding: 5px 7px;
    }

    .hero,
    .team {
        margin-bottom: 30px;
    }

    .hero__title {
        font-size: 20px;
        line-height: 34px;
        padding-left: 18px;
        margin-bottom: 8px;
    }

    time {
        font-size: 13px;

    }

    h2 {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 18px;
    }

    h2::after {
        width: 207px;
        margin-top: 2px;
    }

    .team__content,
    .children__content {
        text-align: center;
        margin: 0 auto 20px;
    }

    .footer__nav-chunk {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer__nav-chunk:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
        line-height: 28px;
        text-align: center;
    }

    .hero__title {
        font-size: 24px;
        line-height: 34px;
        padding-left: 10px;
    }

    .site-navigation-item {
        font-size: 10px;
        padding: 3px 6px;
        margin: 3px;
    }

    .post__title {
        text-align: center;
        font-size: 18px;
        line-height: 24px;
    }

    .post p {
        font-size: 16px;
        line-height: 22px;
    }

    .post ul {
        padding-left: 10px;
    }

    .post blockquote {
        font-size: 20px;
        line-height: 28px;
    }

    .children {
        margin-bottom: 50px;
    }

    .gallery {
        margin-bottom: 40px;
    }

    .gallery__preview_list li {
        margin-right: 10px;
    }

    .post h4 {
        text-align: center;
    }

    .post__title {
        margin-bottom: 20px;
    }

    .post ul {
        padding-left: 30px;
        font-size: 16px;
    } 

    .post blockquote {
        padding-left: 15px;
        font-size: 18px;
        line-height: 26px;
    }

    .post__footer {
        align-items: center;
    }

    .contacts {
        padding: 0;
    }

    .contacts__content {
        width: 100%;
        margin: 0 auto;
    }

    .contacts__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        margin-bottom: 50px;
        padding: 0;
        text-align: center;
    }

    .contacts__item {
        justify-content: center;
    }

    .contacts__item h3 {
        margin-right: 0;
    }


    .social__item a {
        width: 30px;
        height: 30px;
    }

    .footer {
        flex-direction: column;
        padding: 20px 25px 30px;
    }

    .footer__copyright {
        width: 100%;
        margin-bottom: 40px;
        margin-right: 0;
    }

    .footer__logo {
        width: 50px;
        height: auto;
        margin-bottom: 0;
    }

    .footer__nav {
        flex-wrap: wrap;
        text-align: left;
    }

    .footer__nav-chunk {
        width: 50%;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .footer__nav-chunk:first-child,
    .footer__nav-chunk:nth-child(2) {
        width: 50%;}

    .footer__nav-item,
    .footer__nav-chunk-title {
        text-align: left;
    }
}